.quote {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px #0000001b;
  position: fixed;
  bottom: 50px;
  right: 20px;
  opacity: 0;
  text-align: right;
  color: #0a0f18;
  max-width: fit-content;
  border-radius: 8px;
  border-right: solid rgb(0, 106, 255);
  animation-name: notification;
  z-index: 999999;
}
.quote:hover {
  cursor: pointer;
}
@keyframes notification {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.d-none {
  display: none;
}
